body {
  font-family: 'Open sans', sans-serif;
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, a {
  color: #ff5252;
}

li {
  color: #ff5252;
  font-size: 18px;
}

a {
  text-decoration: none;
}

li p {
    font-size: 14px;
    color: #565656;
}

a:hover {
  text-decoration: underline;
}
